<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AR Remote Support.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
				<key>dateExpires</key>
				<string>12/11/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ARVideoKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraAIDenoiseExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraDav1dExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraFDExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraJNDExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraRtmKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraSoundTouch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoSegmentationExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Agorafdkaac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Agoraffmpeg.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>305B6D5998D00E79FE54980DE290C3166EFAE76C</string>
						<key>dateExpires</key>
						<string>12/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SCNLine.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3K3WPM5989</string>
						<key>name</key>
						<string>Hestabit Technologies Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3K3WPM5989.agora.id.remote</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3K3WPM5989</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>3K3WPM5989.agora.id.remote</string>
				</array>
			</dict>
			<key>name</key>
			<string>AR Remote Support.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>21cb692f-bdf5-40ce-8047-c6fe5b1d75a2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3K3WPM5989</string>
				<key>name</key>
				<string>Hestabit Technologies Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
